<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>UAT</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://helloworld02-uat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>helloworld02-uat.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HelloWorld02-UAT</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>HelloWorld02-Deploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HelloWorld02Context" Order="1" Enabled="True">
          <Destination Path="Driver={SQL Server Native Client 10.0};Server=tcp:pis6ntoi6n.database.windows.net,1433;Database=HelloWorld02_UAT;Uid=HelloWorld02_UAT@pis6ntoi6n;Pwd=DEV2002ops;Encrypt=yes;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HelloWorld02.DAL.HelloWorld02Context, HelloWorld02" MigrationConfiguration="HelloWorld02.Migrations.Configuration, HelloWorld02" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HelloWorld02Context-Web.config Connection String">
      <ParameterValue>Driver={SQL Server Native Client 10.0};Server=tcp:pis6ntoi6n.database.windows.net,1433;Database=HelloWorld02_UAT;Uid=HelloWorld02_UAT@pis6ntoi6n;Pwd=DEV2002ops;Encrypt=yes;Connection Timeout=30</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>